@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 50.5%;
}
header{
    height: 50vh;
    display: flex;
    flex-direction: row;
}
header #one{
    background-color: hsl(0, 0%, 2%);
    width: 30rem;
    
}
header img{
    height: 50rem;
}
header #three{
    background-color: white;
}

main{
    height: 100vh;
}
footer{
    
     height: 30vh;
     display: flex;
     flex-direction: row;
     background-color: hsl(0, 0%, 2%);
     color: white;
}